<h1> <%= @post["name"]%></h1>


<ul>
    <% posts = Post.where({"place_id" => @place["id"]}) %>
    <% for post in posts %>
        <li>
        <%= "#{post["name"]} #{post["date"]} #{post["description"]}" %>
    </li>
   <% end %>
</ul>

<p>
  <a href="/places/new">New post</a>
</p>

<p>
    <a href="/places">Back to all places</a>
</p>
